<a href="https://colab.research.google.com/github/kirnrnrn/kim/blob/main/4_2_practice_loop2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1.
## 1부터 100까지의 정수 중 한 개를 입력받아 100 보다 작은 배수들을 차례로 출력하다가 10 의 배수가 출력되면 프로그램을 종료하도록 프로그램을 작성하시오.
- 입력 예: 7
- 출력 예: 7 14 21 28 35 42 49 56 63 70

In [10]:
i=0
a=int(input('정수를 입력하시오'))
sum=0
for i in range(1,101):
  if i%10 == 0:
    break
  else:
    i= a
    sum=sum + i
    print(sum)

정수를 입력하시오7
7
14
21
28
35
42
49
56
63

입력: 13
출력: 13 26 39 52 65 78 91

입력: 13
출력: 13 26 39 52 65 78 91

# 문제 2.
## 자연수 n을 입력받아 "출력 예"와 같이 공백으로 구분하여 출력하는 프로그램을 작성하시오.
- 입력 예: 3

In [ ]:
    1
  1 2
1 2 3

    1
  1 3
1 3 5

In [ ]:
a=input('자연수 n을 입력하시오: ')
for i in range(1,a):

입력: 3
    1
  1 2
1 2 3

# 문제 3.
## 자연수 n을 입력받아 "출력 예"와 같이 공백으로 구분하여 출력되는 프로그램을 작성하시오.
- 입력 예 : 3

In [ ]:
1 2 3
  4 5
    6
    
1 3 5
  7 9
    11

입력: 3
1 2 3
  4 5
    6

# 문제 4.
## 10개의 정수를 입력받아 100 미만의 수 중 가장 큰 수와 100 이상의 수 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- List 데이터 구조를 활용하시오.
- 입력 예: 88 123 659 15 443 1 99 313 105 48
- 출력 예: 99 105

입력: 88 123 659 15 443 1 99 313 105 48
[1, 15, 48, 88, 99, 105, 123, 313, 443, 659]
100이상의 수중에 가장 작은 수:  105
100미만의 수중에 가장 큰 수:  99

In [19]:
list1=[]
list2=[]
i=0
for i in range(10):
  i=int(input('정수를 입력하시오'))
  if i >= 100:
    list1.append(i)
  else:
    list2.append(i)
  
print('100미만의 수중에 가장큰수:',max(list2))
print('100이상의 수중에 가장 작은 수:',min(list1))

정수를 입력하시오88
정수를 입력하시오123
정수를 입력하시오659
정수를 입력하시오15
정수를 입력하시오443
정수를 입력하시오1
정수를 입력하시오99
정수를 입력하시오313
정수를 입력하시오105
정수를 입력하시오48
100미만의 수중에 가장큰수: 99
100이상의 수중에 가장 작은 수: 105

# 문제 5.
## 리스트을 선언한 후 정수를 차례로 입력 받다가 -1이 입력되면 입력을 중단하고, -1을 제외한 마지막 세 개의 정수를 출력하는 프로그램을 작성하시오. 
- 입력받은 정수가 -1을 제외하고 3개 미만일 경우에는 -1을 제외하고 입력받은 정수를 모두 출력한다.
- 입력 예: 30 20 10 60 80 -1
- 출력 예: 10 60 80

In [22]:
list=[]
a=0
for a in range(100):
  a= int(input('정수를 입력하시오'))
  if a<0:
    break
  if a >= 0:
    list.append(a)
print(list[-3:-1])

정수를 입력하시오30
정수를 입력하시오20
정수를 입력하시오10
정수를 입력하시오60
정수를 입력하시오80
정수를 입력하시오-1
[]

# 문제 6. 
## 사용자에게 base문자열을 첫 줄에 입력받고,  다음으로 찾고자하는 문자 1개를 입력받아 문자열 내의 검색 문자의 모든 위치를 출력하는 프로그램을 작성하시오.
- 첫 번째 위치는 0번이며 리스트에 없는 문자가 입력되면 "none" 라는 메시지를 출력하고 끝내는 프로그램을 작성하시오.
- 예제: "my name is dean" 을 base 문자열로 입력하고, 찾고자 하는 문자를 'd'로 입력하면 11을 출력해주면 된다.
- 만약, 찾으려는 문자가 2개 이상인 경우에는 모든 위치를 출력해준다.

In [ ]:
list=['m','y',' ','n','a','m','e',' ','i','s',', ,','d','e','a','n']

입력 문자열: my name is dean
찾고 싶은 문자: d

입력 문자열: my name is dean
찾고 싶은 문자: a
[4, 13]

# 문제 7.
## 학생들의 점수를 입력을 받다가 0이 입력되면 그 때까지 입력받은 점수를 10점 단위로 구분하여 점수대별 학생 수를 출력하는 프로그램을 작성하시오. 
- 1명도 없는 점수는 출력하지 않는다.
- 입력 예: 63 80 95 100 46 64 88 0

In [ ]:
출력 예: 
100 : 1 person
90 : 1 person
80 : 2 person
60 : 2 person
40 : 1 person

# 문제 8.
## 소수(prime number)란 1보다 큰 자연수 중 1과 자기 자신 두 개만을 약수로 갖는 수를 말한다. 
- 자연수 M과 N을 입력받아 M부터 N까지 소수의 개수를 구하여 출력하는 프로그램을 작성하시오.
- M이상 N이하의 자연수 중 소수가 몇 개인지 구하여 출력한다.
- 입력 예: 10 100
- 출력 예: 21

# 보너스
## 자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최소값을 찾는 프로그램을 작성하시오.

- 예를 들어 M=60, N=100이 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 
- 이들 소수의 합은 620이고, 최소값은 61이 된다.

# 문제 9.
## 아래의 결과를 보이도록 프로그램을 작성하시오.

In [ ]:
   *
  ***
 *****
*******

# 문제 10.
## 아래의 피라미드 모형을 출력하시오.
- 출력 결과에서 #은 공백(space)로 처리해도 됨.

In [ ]:
###*###
##***##
#*****#
*******
#*****#
##***##
###*###

In [ ]:
 *
***
 *

In [23]:
# 인터넷을 참고 했으나 이해 못함
for x in range(1, 7 * 2, 2):
      print((" " * ( (7 * 2 - 1 - x) // 2 )) + ("*" * x))
for y in range(7 * 2-3, 0, -2):
      print((" " * ( (7 * 2 - 1 - y) // 2 )) + "*" * y)

      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

# 보너스2
## 삼각형의 높이 N을 입력받아서 아래와 같이 문자 'A'부터 차례대로 왼쪽 대각선으로 채워서 삼각형 모양을 출력하는 프로그램을 작성하시오.
- 입력 예 : 5

In [ ]:
        A
      B F
    C G J
  D H K M
E I L N O

# 문제 11.
## 2진수를 입력받아 10진수로 변환하여 출력하는 프로그램을 작성하시오.
- 입력 예: 10101
- 출력 예: 21

:o

# 문제 12.

## 복호화 키와 암호 문자를 입력으로 받아 원문을 구하는 프로그램을 구현하시오. 복호화 키는 26개의 소문자로 주어지며, a,b,c,d... 를 순서대로 복호화 키 문자로 대치한다는 것을 뜻한다.

 

- 예를 들어, 복호화 키가 "eydbkmiqugjxlvtzpnwohracsf" 와 같이 주어진다고 하자, 

- 그러면 이는 다음과 같다 - a 문자는 e, b 문자는 y, ..., z 문자는 f로 바꿔줌.

- 암호화 된 문자는 대소문자 혹은 공백이 올수 있고 대소문자는 대문자로 소문자는 소문자로 치환 규칙에 맞게 출력하고 , 

- 공백문자는 그대로 출력한다.

- 입력 예: 
- eydbkmiqugjxlvtzpnwohracsf
- Kifq oua zarxa suar bti yaagrj fa xtfgrj
- 출력 예:
- Jump the fence when you seeing me coming

# diamond code

Enter a floor of diamond(odd)[quit: -1]: 3
  *
 ***
  *
Enter a floor of diamond(odd)[quit: -1]: 1
*
Enter a floor of diamond(odd)[quit: -1]: 5
    *
   ***
  *****
   ***
    *
Enter a floor of diamond(odd)[quit: -1]: 7
      *
     ***
    *****
   *******
    *****
     ***
      *
Enter a floor of diamond(odd)[quit: -1]: -1

mid: 0
*
==================
mid: 1
 *
***
 *
==================
mid: 2
  *
 ***
*****
 ***
  *
==================
mid: 3
   *
  ***
 *****
*******
 *****
  ***
   *
==================
mid: 4
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
==================