<a href="https://colab.research.google.com/github/kirnrnrn/kim/blob/main/list_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1.
- 문자 10개를 저장할 수 있는 리스트를 만들고 10개의 문자를 입력받아 입력받은 문자를 이어서 출력하는 프로그램을 작성하시오.
- 입력 예: A B C D E F G H I J
- 출력 예: ABCDEFGHIJ

In [4]:
list=[]
i=0
for i in range(10):
  i=input('알파벳을 입력하시오')
  list.append(i)
print(''.join(list))

알파벳을 입력하시오A
알파벳을 입력하시오B
알파벳을 입력하시오C
알파벳을 입력하시오D
알파벳을 입력하시오E
알파벳을 입력하시오F
알파벳을 입력하시오G
알파벳을 입력하시오H
알파벳을 입력하시오I
알파벳을 입력하시오J
ABCDEFGHIJ

# 문제 2.
- 10개의 문자를 입력받아서 첫 번째 네 번째 일곱 번째 입력받은 문자를 차례로 출력하는 프로그램을 작성하시오.
- 입력 예: A B C D E F G H I J
- 출력 예: A D G

In [6]:
list=[]
i=0
for i in range(10):
  i=input('알파벳을 입력하시오:')
  list.append(i)
  print(list)
print(list[0],list[3],list[6])

알파벳을 입력하시오:A
['A']
알파벳을 입력하시오:B
['A', 'B']
알파벳을 입력하시오:C
['A', 'B', 'C']
알파벳을 입력하시오:D
['A', 'B', 'C', 'D']
알파벳을 입력하시오:E
['A', 'B', 'C', 'D', 'E']
알파벳을 입력하시오:F
['A', 'B', 'C', 'D', 'E', 'F']
알파벳을 입력하시오:G
['A', 'B', 'C', 'D', 'E', 'F', 'G']
알파벳을 입력하시오:H
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
알파벳을 입력하시오:I
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
알파벳을 입력하시오:J
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
A D G

# 문제 3.
- 빈 리스트을 선언하고 정수를 차례로 입력받다가 0 이 입력되면 0 을 제외하고 그 때까지 입력된 정수를 가장 나중에 입력된 정수부터 차례대로 출력하는 프로그램을 작성하시오.
- 입력 예: 
    * 3 
    * 5
    * 10 
    * 55 
    * 0
- 출력 예: 55 10 5 3

In [15]:
list=[]
i=1
while i>0:
  i=int(input('정수를 입력하시오:'))
  list.append(i)
  list.reverse()
  if i == 0:
    break
print(list)

정수를 입력하시오:3
정수를 입력하시오:5
정수를 입력하시오:10
정수를 입력하시오:55
정수를 입력하시오:0
[0, 10, 3, 5, 55]

# 문제 4.
- 1반부터 6반까지의 평균점수를 저장한 후 두 반의 반 번호를 입력받아 두 반 평균점수의 합을 출력하는 프로그램을 작성하시오.
- 반별 평균점수는 초기값으로 1반부터 차례로 85.6 79.5 83.1 80.0 78.2 75.0으로 초기화하고, 
- 출력은 소수 두 번째 자리에서 반올림하여 소수 첫째자리까지 한다.
- 입력 예: 1 3 (1반 3반을 의미)
- 출력 예: 168.7

In [19]:
list=[85.6 , 79.5 , 83.1 , 80.0 , 78.2 , 75.0]
a=input('반을 입력하시오:')
b=input('반을 입력하시오:')
list[0] = 반1
list[1] = 반2
list[2] = 반3
list[3] = 반4
list[4] = 반5
list[5] = 반6

print(a+b)

반을 입력하시오:반2
반을 입력하시오:반3
반2반3

# 문제 5.
- 10개의 정수를 입력받아 그 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- 입력 예: 5 10 8 55 6 31 12 24 61 2
- 출력 예: 2

In [21]:
list=[]

for i in range(10):
  i=int(input('정수를 입력하시오:'))
  list.append(i)
print(min(list))

정수를 입력하시오:5
정수를 입력하시오:10
정수를 입력하시오:8
정수를 입력하시오:55
정수를 입력하시오:6
정수를 입력하시오:31
정수를 입력하시오:12
정수를 입력하시오:24
정수를 입력하시오:61
정수를 입력하시오:2
2

# 문제 6.
- 10개의 정수를 입력받아 100 미만의 수 중 가장 큰 수와 100 이상의 수 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- 입력 예: 88 123 659 15 443 1 99 313 105 48
- 출력 예: 99 105

In [ ]:
# loop2 문제4와 동일

# 문제 7.
- 10개의 정수를 입력받아 리스트에 저장한 후 짝수 번째 입력된 값의 합과 홀수 번째 입력된 값의 평균을 출력하는 프로그램을 작성하시오.
- 평균은 반올림하여 소수첫째자리까지 출력한다.
- 입력 예: 95 100 88 65 76 89 58 93 77 99
- 출력 예: 
    * sum : 446
    * avg : 78.8

In [25]:
list=[]
for i in range(10):
  i=int(input('정수를 입력하시오:'))
  list.append(i)
a=list[1]+list[3]+list[5]+list[7]+list[9]
b=list[0]+list[2]+list[4]+list[6]+list[8]
avg = b/5
print('sum:', a)
print('avg', avg)

정수를 입력하시오:95
정수를 입력하시오:100
정수를 입력하시오:88
정수를 입력하시오:65
정수를 입력하시오:76
정수를 입력하시오:89
정수를 입력하시오:58
정수를 입력하시오:93
정수를 입력하시오:77
정수를 입력하시오:99
sum: 446
avg 78.8

# 문제 8.
- 10개의 정수를 입력받아 리스트에 저장한 후 내림차순으로 정렬하여 출력하시오.
- 입력 예: 95 100 88 65 76 89 58 93 77 99
- 출력 예: 100 99 95 93 89 88 77 76 65 58

In [26]:
list=[]
for i in range(10):
  i=int(input('정수를 입력하시오:'))
  list.sort(reverse=True)
print(list)

정수를 입력하시오:95
정수를 입력하시오:100
정수를 입력하시오:88
정수를 입력하시오:65
정수를 입력하시오:76
정수를 입력하시오:89
정수를 입력하시오:58
정수를 입력하시오:93
정수를 입력하시오:77
정수를 입력하시오:99
[]